.card-list {
    display: flex;
    flex-wrap: wrap;
    gap: 65px;
    padding-left: 0;
}

.card-list__item{
    width: 420px;
}

.card-list__category{
    font-family: Ubuntu;
    font-size: 14px;
    font-weight: 300;
    line-height: 16.09px;
    text-align: left;
    color: $category;
    margin-top: 62px;
}

.card-list__title{
    font-family: Playfair Display;
    font-size: 30px;
    font-weight: 400;
    line-height: 39.99px;
    text-align: left;
    color: $description;
}

.card-list__description{
    font-family: Playfair Display;
    font-size: 14px;
    font-weight: 400;
    line-height: 18.66px;
    text-align: left;
    color: $description;
}